* {
  box-sizing: border-box;
}
body {
  background-color: #f5f7fa;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.container{
  max-width: 1100px;
  width: 100%;
  background-color: #ffffff;
  margin: 40px auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

section{
  display: flex;
  justify-content: space-between;
}

/* navigation */
.cv-nav-menu__burger{
  display: none;
}

.cv-nav-menu{
  /* display: none; */
  position: absolute;
  left: 37%;
  padding-top: 1rem;
  z-index: 1;
}

.cv-nav-menu__list{
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.cv-nav-menu__items{
  list-style-type: none;
  text-transform: uppercase;
  padding-right: 1rem;
}

.cv-nav-menu__items a{
  text-decoration: none;
  color: #000;
}

.cv-nav-menu__items a:hover{
  text-decoration: underline;
  color: #ff7c24;
}

/* aside */

.cv-aside{
  background-color: #1e2939;
  max-width: 35%;
}

.cv-aside-photo{
  padding: 2.5rem 0;
  width: 100%;
  transition: 2s;
}

.cv-aside-photo:hover{
  cursor: pointer;
  transform: rotateY(180deg);
}

.cv-aside-main{
  padding-left: 2.5rem;
}

.cv-aside-main__block{
  display: flex;
  align-items: center;
}

.cv-aside-main__title{
  font-size: 1.571em;
  color: #ffffff;
  margin: 0 .5rem 0 0;
}

.animation{
  width: 20px;
  height: 20px;
  background-color: #ff6b08;
  animation: animation 3s ease-out 1s infinite alternate;
}

@keyframes animation{
  0% {
    border-radius: 0 0 0 0;
    transform: rotate(0deg);
  }
  25% {
    border-radius: 50% 0 0 0;
    transform: rotate(45deg);
  }
  50% {
    border-radius: 50% 50% 0 0;
    transform: rotate(90deg);
  }
  75% {
    border-radius: 50% 50% 50% 0;
    transform: rotate(135deg);
  }
  100% {
    border-radius: 50% 50% 50% 50%;
    transform: rotate(180deg);
  }
}

.contacts-link{
  text-decoration: none;
  color: #fff;
  opacity: .5;
}

.contacts-link:hover{
  color: #ff7c24;
  opacity: 1;
}

.cv-aside-main__contacts{
  padding: 1rem 0;
}

.cv-aside-main__contacts-letter{
  color: #ffffff;
  font-weight: 700;
  margin: 0;
  padding-bottom: 0.5rem;
}

.cv-aside-main__contacts-details{
  padding-left: 1rem;
  font-weight: 400;
}

.cv-aside-main__list{
  color: #ff6b08; 
  margin: 0;
  padding: 1.25rem 0 3.25rem 1.25rem;
  line-height: 1.714em;
}

li span {
  color: #ffffff;
}

/* aside social */

.cv-aside-main__social{
  padding-bottom: 3.25rem;
}

.icon {
  text-decoration: none;
}

.cv-social-icons{
  /* display: block; */
  width: 25px;
  height: 25px;
  fill: #fff; 
  margin-right: .5rem;
}

.cv-social-icons:hover{
  cursor: pointer;
  fill: #ff6b08; 
}

/* main about*/

.cv-main{
  max-width: 65%;
  padding-left: 1rem;
  padding-right: 12rem;
}

.cv-main-about{
  margin: 0;
  padding-top: 2.25rem;
}

.cv-main-about__position{
  font-weight: 700;
  margin: 0;
  font-size: 1.571em; 
  padding-bottom: 1rem;
}

h1{
  font-size: 3rem;
  padding: 1.714rem 0;
  margin: 0;
  color: #ff7c24;
}

.cv-main-about__description{
  margin: 0;
  line-height: 1.5rem;
  color: #595959;
}

/* main project*/
.cv-main-projects_mobile{
  display: none;
}

.cv-main-projects__title{
  font-weight: 700;
  font-size: 1.571em;
  margin: 0;
  padding: 3.25rem 0.857rem 0.75rem 0;
}

ol {
  line-height: 1.714em;
}

.cv-main-projects__list{
  font-weight: 700;
  margin: 0;
}

.cv-main-projects__item{
  border-bottom: 1px dotted rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-between;
}

.projects-link{
  color: #595959;
  font-weight: 400;
  transition: .5s;
}

.projects-link:hover{
  color: #ff7c24;
  font-weight: 700;
}

.projects-link,
.cv-main-projects__list-details{
  background: #fff;
  margin-bottom: -.3em;
  margin-top: .7em;
}

.cv-main-projects__list-details{
  color: #595959;
  font-weight: 400;
}

/* main certification */

.cv-main-certification__title{
  font-weight: 700;
  font-size: 1.571em;
  margin: 0;
  padding-top: 3.25rem;
}

.cv-main-certification__name{
  font-weight: 700;
  margin: 0;
  font-size: 1.142em;
  padding-top: 1rem;
}

.cv-main-certification__period{
  color: #a8a8a8;
  font-weight: 400;
  padding: 1em 0 0 0;
  margin: 0;
  font-size: 0.857em;
}

h3 a {
  color: #000;
}

h3 a:hover {
  cursor: pointer;
  color: #ff7c24;
}

h3 a span:hover {
  cursor: pointer;
  color: #000;
}

/* main work experience*/

.cv-main-experience__title{
  font-weight: 700;
  font-size: 1.571em;
  margin: 0;
  padding-top: 3.25rem;
}

.cv-main-experience__position{
  font-weight: 700;
  margin: 0;
  font-size: 1.142em;
  padding-top: 1.13rem;
}

h3 span {
  color: #ff7c24;
}

h4 span {
  color: #000;
  font-weight: 700;
}

.cv-main-experience__period{
  color: #a8a8a8;
  font-weight: 400;
  padding: 1em 0 1em 0;
  margin: 0;
  font-size: 0.857em;
}

.cv-main-experience__list{
  padding-left: 1rem;
  color: #595959;
  line-height: 1.714em;
  margin: 0;
}

/* main education */

.cv-main-education__title{
  font-weight: 700;
  font-size: 1.571em;
  margin: 0;
  padding-top: 3.25rem;
}

.cv-main-education__hei{
  font-weight: 700;
  margin: 0;
  padding: 1.312rem 0 0.937rem 0;
  font-size: 1.142em;
  color: #ff7c24;
}

.cv-main-education__specialization{
  margin: 0;
}

.cv-main-education__period{
  color: #a8a8a8;
  font-weight: 400;
  padding: 0.875rem 0 2.25rem 0;
  margin: 0;
  font-size: 0.857em;
}

@media screen and (max-width: 768px) {
  .container{
    max-width: 1200px;
    width: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  }
  section{
    display: block;
  }
  .cv-aside{
    max-width: 100%;
  }
  .cv-aside-photo{
    padding: 1.5rem 0;
  }
  .cv-aside-main{
    padding: 0 1rem 1rem 1rem;
  }
  .cv-aside-main__contacts{
    padding-bottom: 0;
  }
  .cv-aside-main__list{
    padding-bottom: 0;
  }
  .cv-aside-main__title{
    padding-top: 1.25rem;
  }
  .cv-aside-main__social{
    display: flex;
    justify-content: space-around;
    padding: 1.25rem;
  }
  .cv-social-icons{
    width: 50px;
    height: 50px;
    margin-right: 1rem;
  }
  .cv-main{
    max-width: 100%;
    padding: 1rem ;
  }
  .cv-main-about{
    padding: 0;
  }
  .cv-main-projects__title{
    padding: 2.25rem 0 1rem 0;
  }
  .cv-main-certification__title{
    padding-top: 2.25rem;
  }
  .cv-main-experience__title{
    padding-top: 2.25rem;
  }
  .cv-main-education__title{
    padding-top: 2.25rem;
  }
  .cv-main-education__period{
    padding-bottom: 1rem;
  }

  /* projects mobile */

  .cv-main-projects{
    display: none;
  }

  .cv-main-projects_mobile{
    display: inline-block;
  }

  .cv-main-projects__list{
    display: flex;
    flex-wrap: wrap;
  }

  .cv-main-projects__icon{
    margin: 0;
    padding: .5rem 0;
  }

  .cv-main-projects__item{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cv-social-icons__mobile{
    width: 50px;
    height: 50px;
    margin-right: 0;
  }

  .cv-main-projects__item{
    width: 50%;
    padding: 0 .5rem;
    border-bottom: 1px dotted rgba(0,0,0,0.3);
    border-right: 1px dotted rgba(0,0,0,0.3);
  }

  .right {
    border-right: none;
  }

  .bottom{
    border-bottom: none;
  }

  .cv-main-projects__list-details{
    margin: 0;
    padding: .5rem 0;
    font-size: .5rem;
    text-align: center;
  }

  /* navigation */

  .cv-nav-menu__burger{
    display: flex; 
    flex-direction: column;
    color: #1e2939;
    padding-left: 1rem;
    padding-bottom: 1rem;
    line-height: .5;
    font-weight: 700;
  }
  .cv-nav-menu__burger:before,
  .cv-nav-menu__burger:after{
    content: "___";
  }
  .cv-nav-menu{
    left: 0;
    padding-top: 1.5rem;
  }
  .cv-nav-menu__list{
    display: none; 
    padding: 0 1rem;
    background-color: #1e2939;
    flex-direction: column;
  }
  .cv-nav-menu__items{
    padding-right: 0;
  }
  .cv-nav-menu__items a{
    display: block;
    padding: 1.25rem 1.25rem 1.25rem 0;
    color: #fff;
    /* font-size: .5rem; */
    border-bottom: 1px dotted #fff;
    text-align: left;
  }
  .cv-nav-menu__items a:hover{
    color: #ff7c24;
    text-decoration: none;
  }
}